
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.rodape{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logos-rodape{
    width: 40px;
    margin: 15px 40px;

}

.logos-rodape:hover{
    transform: scale(1.1);

}

.politica{
    color: #ffffff;
    padding: 0px 100px;
    font-size: 20px;
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
}

@media (min-width: 500px) and (max-width:799px){
    .politica{
        color: #ffffff;
        padding: 0px 100px;
        font-size: 15px;
    }

    .logos-rodape{
        width: 15px;
        margin: 15px 40px;
    
    }
}

@media (min-width: 300px) and (max-width:499px){
    .politica{
        color: #ffffff;
        padding: 0px 100px;
        font-size: 10px;
    }

    .logos-rodape{
        width: 30px;
        margin: 15px 40px;
    
    }
}